@font-face {
    font-family: 'Athelas';
    src: url('../fonts/Athelas-Italic.woff2') format('woff2'),
        url('../fonts/Athelas-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athelas';
    src: url('../fonts/Athelas-BoldItalic.woff2') format('woff2'),
        url('../fonts/Athelas-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Athelas';
    src: url('../fonts/Athelas-Bold.woff2') format('woff2'),
        url('../fonts/Athelas-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Athelas';
    src: url('../fonts/Athelas-Regular.woff2') format('woff2'),
        url('../fonts/Athelas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'GE Elegant';
    src: url('../fonts/GEElegant.woff2') format('woff2'),
        url('../fonts/GEElegant.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

