<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <title>Business profile</title>
 <meta content="width=device-width, initial-scale=1.0" name="viewport">
 <meta content="" name="keywords">
 <meta content="" name="description">
 <link href="css/elements.css" rel="stylesheet">
<script src="js/my_js.js"></script>

 <!-- Favicon -->
 <link href="img/favicon.ico" rel="icon">

 <!-- Google Web Fonts -->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
 
 <!-- Icon Font Stylesheet -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
 <!-- Libraries Stylesheet -->
 <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
 <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

 <!-- Customized Bootstrap Stylesheet -->
 <link href="css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 <!-- Template Stylesheet -->
 <link href="./style4.css" rel="stylesheet">
 <script src="./script.js"></script>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

 <script src="./scr.js"></script>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body id="body" >

<div class="container-fluid head11">
  <a class="" href="#">
      <i class="sidebar-toggler fa-solid fa-bars "></i>
    </a>
    <p class= "company-name">
      ISGLOBAL
     </p>
     <div class="icon3" > 

     <button class="icon2"><i class="material-icons i1">outlined_flag</i></button>
     <button class="icon2"> <i class="material-icons i2">star_outline</i></button>
     <button class="icon2"><i class="material-icons i3">bookmark_border</i></button>
     <button class="icon2"><i class="material-icons i4">notifications_none</i></button>
     <button class="lang"> ع </button>
     <div class="navbar-nav align-items-center ">
      <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle1" data-bs-toggle="dropdown">
        <button class="icon2"><i class="material-icons i5">account_circle</i></button>  
      </a>
      <div class="dropdown-menu dropdown-item2 dropdown-menu-end  border-0 rounded-0 rounded-bottom m-0">
      
      <a href="UserProfile.html" class="dropdown-item3"> <i class="material-icons i9">person</i> <p class="textp">User Profile</p></a>
      <a href="#" class="dropdown-item3"><i class="material-icons i9">settings</i> <p class="textp">Setting</p></a>
      <button id="popup" onclick="log_show()"class="dropdown-item3 profileptn"><i class="material-icons i10 ">logout</i><p class="textpp">Log Out</p></button>
      </div>
      </div>
      <div class="nav-item dropdown">
      <a href="#" class="nav-link" >
      </a>
  </div>
      </div>
     </div>
         </div>

   
   
         <div class="container-fluid position-absolute bg-white  p-0">
 
<!-- Sidebar Start -->
<div class="sidebar  pb-3">
  <nav class="navbar navbar-light">
  
  <div class="navbar-nav w-100">
  <a href="index.html" class="nav-item nav-link "><span class="material-symbols-outlined" >
   pie_chart
   </span>Dashboard</a>
  <div class="line"></div>
     <div class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><span class="material-symbols-outlined ">
   receipt_long
   </span> Electronic invoice</a>
  <div class="dropdown-menu bg-transparent border-0">
  <a href="./B2B_E_invoice.html" class="dropdown-item">B2B E-Invoice</a>
  <a href="./B2C_E_invoice.html" class="dropdown-item">B2C E-Invoice</a>
  </div>
  </div>
  <div class="line"></div>
  <div class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><span class="material-symbols-outlined ">
   dataset
   </span>Master Data</a>
  <div class="dropdown-menu bg-transparent border-0">
   <a href="item_master.html" class="dropdown-item">Item Master</a>
   <a href="service_master.html" class="dropdown-item">Services Master</a>
   <a href="vendor.html" class="dropdown-item">Vendor Master</a>
   <a href="index.html" class="dropdown-item">Item Vendor</a>
   <a href="B2B.html" class="dropdown-item">B2B Customer Master</a>
   <a href="B2C.html" class="dropdown-item">B2C Customer Master</a>
  </div>
  </div>
  <div class="line"></div>
  <div class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <span class="material-symbols-outlined">
   admin_panel_settings
   </span>Administration</a>
  <div class="dropdown-menu bg-transparent border-0">
  <a href="business.html" class="dropdown-item">Company Profile</a>
  <a href="RegisterUser.html" class="dropdown-item">Register User</a>
  <a href="PageAccess.html" class="dropdown-item">Pages access</a>
 
  </div>
  </div>
 
  
  </div>
  </nav>
  </div>
  <!-- Sidebar End -->

 <!-- Content Start -->
 <div class="content">


  <!--pop form start-->
<div id="abd">
  <div id="popupContact">
  <form action="#" id="form" method="post" name="form" class="form7">
  <button id="close"  onclick ="log_hide2()" class="img1"><span class="material-symbols-outlined">
    cancel
    </span></button>
  <hr>
  <div class="container">
   <p class="popp2">Are you sure you want to logout?</p>
   <div class="span24">
    <button class="btnreset">Cancel</button>
    <button class="btnsave2">logout</button>
  </div>
  </div>
  
</div>

  </form>
  </div>


  <div id="chch">
    <div id="popupContact">
    <form action="#" id="form" method="post" name="form" class="form222">
    <button id="close1"  onclick ="ch_hide()" class="img1"><span class="material-symbols-outlined">
      cancel
      </span></button>
    <hr>
    <div class="container profcopop">
      <p class="prfilepoph2">CHANGE PASSWORD</p>
      <p class="profpop">Old Password</p>
      <input type="text" class="form-control input995" placeholder="">
      <p class="profpop">New Password</p>
      <input type="text" class="form-control input995" placeholder="">
      <p class="profpop">Confirm Password</p>
      <input type="text" class="form-control input995" placeholder="">
      <button class="pop3button">Change Password</button>
      
    
    </div>
    </div>
    
  </div>
</form> 
<div id="card">
    <div id="popupContact">
    <form action="#" id="form" method="post" name="form" class="form77">
    <button id="close3"  onclick ="card_hide()" class="img1"><span class="material-symbols-outlined">
      cancel
      </span></button>
    <hr>
    <div class="container">
     <p class="popp26">Do you want to make this as your defult card?</p>
     <div class="span242">
      <button class="btnreset">No</button>
      <button class="btnsave2">Yes</button>
    </div>
    </div>
    
  </div>
  
    </form>
    </div>

 <!-- Recent Sales Start -->
 
 <!--head start-->
<div class="container first" >
    <div class="firsthead5">
    <div  ><a href="./B2B_E_invoice.html" class="firsthead2_22" >Business Profile</a> </div>
    </div>
    
 

  </div>
  
<!--head end-->

<!--pop form start-->
 
  <!--pop form ends-->
  
  
  
<!--lables strart-->

<div class="container thierd " >
  <div class="container  mb-2">
    <div class="row" >
      <div class="span2">
        <button class="btnreset">Rest</button>
        <button class="btnsave2">Save</button>
      </div>
    </div>
    </div>
   
    <div class="profile_content">
    <div class="container mb-2 profile_cont">
  
    <div class="row " >
      <div class="firstcol" ><p>Business Name</p> </div>
     
     
      <div class="col buttonIn "><input type="text" class="form-control input20" placeholder="">
       </div>

       

      <div class=" firstcol " ><p >Business Logo</p></div>
      
      <div class="col" ><input type="text" class="form-control input21" placeholder="0.15">
        <button class="prof_but">
            Upload
        </button>
        <button class="prof_but2">
          Preview
      </button>
        
    </div>
     </div> </div>
    <div class="container mt-6 profile_cont4">
  <div class="container mb-2 " >
    <div class="row "  >
      <div class="firstcol"><p>VAT Number</p></div>
      <div class="col buttonIn "><input type="text" class="form-control input21" placeholder="">
       </div>
      <div class="firstcol"><p>CR/Freelance No</p></div>
      <div class="col"><input type="text" class="form-control input21" placeholder="1820"></div>
    </div>
  </div>
  <div class="container mb-2">
    <div class="row ">
      <div class="firstcol"><p>VAT Certificate</p></div>
      <div class="col"><input type="text" class="form-control input21" placeholder="">
        <button class="up_button">Upload</button>
    </div>
      <div class="firstcol"><p>CR Upload</p></div>
      <div class="col"><input type="text" class="form-control input21" placeholder="2093">
        <button class="up_button">Upload</button>
    </div>
  </div>
 
</div>
</div>

<div class="container mt-6 profile_cont2">
    <div class="container mb-2 " >
      <div class="row "  >
        <div class="firstcol"><p>Country</p></div>
        <div class="col buttonIn "><input type="text" class="form-control input21" placeholder="">
         </div>
        <div class="firstcol"><p>Email ID</p></div>
        <div class="col"><input type="text" class="form-control input21" placeholder="1820"></div>
      </div>
    </div>
    <div class="container mb-2">
      <div class="row ">
        <div class="firstcol"><p>City</p></div>
        <div class="col"><input type="text" class="form-control input21" placeholder="">
          
      </div>
        <div class="firstcol"><p>Contact Name</p></div>
        <div class="col"><input type="text" class="form-control input21" placeholder="2093">
      </div>
    </div>
   
  </div>
  <div class="container mb-2">
    <div class="row ">
      <div class="firstcol"><p>Address</p></div>
      <div class="col"><input type="text" class="form-control input21" placeholder="">
        
    </div>
      <div class="firstcol"><p>Contact Number</p></div>
      <div class="col"><input type="text" class="form-control input21" placeholder="2093">
    </div>
  </div>
 
</div>
  </div>


  <div class="container mt-6 profile_cont3">
    <div class="container mb-2 " >
      <div class="row "  >
        <div class="firstcol"><p>Bank Name</p></div>
        <div class="col buttonIn "><input type="text" class="form-control input21" placeholder="">
         </div>
        <div class="firstcol"><p>IBAN Number</p></div>
        <div class="col"><input type="text" class="form-control input21" placeholder="1820"></div>
      </div>
    </div>
  
 
</div>
 

 <div class="container cont_sub">
 
  <p class="sub_p">Subscription Package</p>
  <button class="sub_v">View</button>
  <button class="sub_up">Upgrade</button>
 </div>


 <div class="container  ">
  <button class="addbuttpn3"><i class="fa-solid fa-plus icon plus"></i>Add Debit/Credit Card</button>

</div>

</form>
 
 

 
 <div class="table-responsive" >
 <table class=" table3 text-start table-hover  Customer_list data " id="customers-list" >
 <thead >
 <tr class="brd"> 
 
 <th scope="col" class="th22">Card Number</th>
 <th scope="col" class="th23">Card Holder</th>
 <th scope="col" class="th44">Expires</th>
 <th scope="col" class="th45">CVV</th>
 </tr>
 </thead>
 <tbody>
 <tr >
 
  <td class="data " > <input type="radio" checked="checked" name="radio" id="popup" onclick="card_show()">
    <span class="checkmark"></span> **** **** **** 1234 <span class="p70">(Defult)</span></td> 
  <td class="data " >Ahmed Kamal</td> 
 <td class="data"> 10/23</td> 
 <td class="data"> </td> 
 

 </tr>

 <tr>
  <td class="data" ><input type="radio" checked="checked" name="radio" id="popup" onclick="card_show()">
    <span class="checkmark"></span>**** **** **** 5678</td> 
   <td class="data " >Ahmed Kamal</td> 
  <td class="data">10/24</td> 
  <td class="data"></td> 
 
 </tr>


 </tbody>
 </table>
 </div>


 <!--end of profile content-->
</div> 

 <div> 
  <p class="made"> Powered by HUB LTD </p>
</div>
 </div>
</div>
 <!-- Recent Sales End -->



 </div>
 <!-- Content End -->


 </div>
 <script>
  
// Validating Empty Field
function check_empty() {
if (document.getElementById('name').value == "" || document.getElementById('email').value == "" || document.getElementById('msg').value == "") {
alert("Fill All Fields !");
} else {
document.getElementById('form').submit();
alert("Form Submitted Successfully...");
}
}
//Function To Display Popup
function div_show() {
document.getElementById('abc').style.display = "block";
}
//Function to Hide Popup
function div_hide(){
document.getElementById('abc').style.display = "none";
}
 </script>
 
 <script>
 let arrow = document.querySelectorAll(".arrow");
 for (var i = 0; i < arrow.length; i++) {
 arrow[i].addEventListener("click", (e)=>{
 let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
 arrowParent.classList.toggle("showMenu");
 });
 }
 let sidebar = document.querySelector(".sidebar");
 let sidebarBtn = document.querySelector(".bx-menu");
 console.log(sidebarBtn);
 sidebarBtn.addEventListener("click", ()=>{
 sidebar.classList.toggle("close");
 });
 </script>

 <script>
 
 $(document).on('click', '.edit', function() { 
 $(this).parent().siblings('td.data').each(function() { 
 var content = $(this).html(); 
 $(this).html('<input value="' + content + '" />'); 
 }); 
 $(this).siblings('.save').show(); 
 $(this).siblings('.delete').hide(); 
 $(this).hide(); 
 }); 
 $(document).on('click', '.save', function() { 
 $('input').each(function() { 
 var content = $(this).val(); 
 $(this).html(content); 
 $(this).contents().unwrap(); 
 }); 
 $(this).siblings('.edit').show(); 
 $(this).siblings('.delete').show(); 
 $(this).hide(); 
 }); 
 
 
 $(document).on('click', '.delete', function() { 
 
 
 $(this).parents('tr').remove(); 
 }); 
 $('.add').click(function() { 
 $(this).parents('table').append('<tr><td class="data"></td><td class="data"></td><td class="data"></td><td><button class="save">Save</button><button class="edit">Edit</button> <button class="delete">Delete</button></td></tr>'); 
 }); 
 
 //tooltip 
 
 $(function () { $("[data-toggle = 'tooltip']").tooltip(); });
 
 
 
 </script>
 <!-- JavaScript Libraries -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script> 

 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
 <script src="lib/chart/chart.min.js"></script>
 <script src="lib/easing/easing.min.js"></script>
 <script src="lib/waypoints/waypoints.min.js"></script>
 <script src="lib/owlcarousel/owl.carousel.min.js"></script>
 <script src="lib/tempusdominus/js/moment.min.js"></script>
 <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
 <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

 <!-- Template Javascript -->
 <script src="js/main.js"></script>

 <script>
  
  // Validating Empty Field
  function check_empty() {
  if (document.getElementById('name').value == "" || document.getElementById('email').value == "" || document.getElementById('msg').value == "") {
  alert("Fill All Fields !");
  } else {
  document.getElementById('form').submit();
  alert("Form Submitted Successfully...");
  }
  }
  //Function To Display Popup
  function div_show() {
  document.getElementById('abc').style.display = "block";
  }
  //Function to Hide Popup
  function div_hide(){
  document.getElementById('abc').style.display = "none";
  }
  function log_show() {
  document.getElementById('abd').style.display = "block";
  }
  //Function to Hide Popup
  function log_hide2(){
  document.getElementById('abd').style.display = "none";
  }
  function ch_show() {
  document.getElementById('chch').style.display = "block";
  }
  //Function to Hide Popup
  function ch_hide(){
  document.getElementById('chch').style.display = "none";
  } 

  function card_show() {
  document.getElementById('card').style.display = "block";
  }
  //Function to Hide Popup
  function card_hide(){
  document.getElementById('card').style.display = "none";
  }
   </script>
</body>

</html>